name: BuildAndDeploy-stg
on:
  push:
    branches: [stg]
    paths:
      - "src/**"
      - ".github/**"
      - "Dockerfile*"

jobs:
  # 构建并推送 Auth 服务镜像
  build-and-push-auth:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/tradingflow-auth:stg
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # 更新 AWS 服务器上的服务
  update-on-server:
    needs: [build-and-push-backend]
    runs-on: ubuntu-latest
    steps:
      - name: Remote SSH Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.STG_API_HOST }}
          username: ${{ vars.STG_SSH_USER }}
          key: ${{ secrets.STG_SSH_PRIVATE_KEY }}
          script: |
            sudo docker login -u ${{ vars.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
            cd /opt/tradingflow/control_device
            sudo docker compose pull
            sudo docker compose up -d
            sudo docker image prune -f
